numpy
opencv-python

# IMPORTANT:
# On KV260 with Xilinx 2022.2, pyrealsense2 is built from librealsense
# with FORCE_RSUSB_BACKEND=ON.
# Do not replace it with the standard pip pyrealsense2 package.
